@font-face {
    font-family: 'Gotham-medium';
    src: url(../fonts/GothamMedium.ttf);
}
@font-face {
    font-family: 'Source';
    src: url(../fonts/sourcesans.ttf);
}
body,html{
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
  height:100%;
      font-family: 'Source';
}
/**************

    HEADER

***************/
.menu-header-container{
  background:white;
  height:100px;
  position: absolute;
  width: 100%;
  z-index: 3;
  line-height: 100px;
}
.page-template .menu-header-container{
  position: relative;
}
.page-template-portrait_bojack .menu-header-container{
  position: absolute;
}
.menu_header{
  list-style:none;
  text-align: center;
}
 .menu_header li{
  display:inline-block;
  padding:0px 20px;
  width:160px;
}

.logo{
  width:100px;
}
 .menu_header li a{
  color:#181818;
  font-weight: bold;
  font-size: 15px;
}
.current_page_item a{
  color:red !important;
}
.menu-item-93 a{
  padding: 8px 18px;
  background: red;
  border-radius: 25px;
  color: white !important;
}
.menu-item-93 a:hover{
  color:white !important;
}

/*********************


      CONTENT


**********************/
/* General */
h1{
  text-transform:uppercase;
  color:white;
  font-size:24px;
  margin-top:40px;
  margin-bottom:30px;
  font-family: 'Gotham-medium';
}
h2{
  color:white;
  font-size:20px;
  margin-bottom:4px;
}
h3{
  font-size:13px;
  margin-top:0px;
  margin-bottom:20px;
}
a:hover{
  color:inherit !important;
  text-decoration: none !important;
}
.red{
  color:red;
}
input[type="submit"] {
  outline: none;
}
.join{
  clear: both;
  display:block;
  text-align:center;
  margin:0 auto;
  padding: 8px 24px;
  background: red;
  border-radius: 25px;
  color: white;
  width: 150px;
  font-size: 18px;
}
.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  line-height: 300px;
  font-size: 28px !important;
  background: rgba(222, 222, 222, 1);
  color: #444;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: visibility opacity 0.5s;
}
.responsiveImage img{
  max-width:100%;
  height:auto;
  margin: 0 auto;
  display: block;
}
.social-link span{
  margin: 20px;
}
.contain-social{
  margin-top:25px;
}
.twitterBloc:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.instaBloc:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
p.follow{
  text-align:center;
}
/* Portrait */
.portraitBojack h1{
  color: black;
  font-weight: bold;
  text-align: center;
}
.portraitBojack h2{
  color: black;
}
.portraitBojack p{
  text-align: justify;
}
.image_portraitBojack{
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.bojackParticiper h1{
  text-align: center;
  color:black;
  font-size: 32px;
}
.bojackParticiper p{
  font-size: 18px;
}
#bojackParticiper p{
  text-align: justify;
}
/* Page actu */
.actu-bandeau{
  height: 175px;
  background-image:url('../img/bandeau-actu.png');
  background-size: cover;
  background-position: 25% 15%;
}
.titre-actu{
  margin-top: 30px;
}
.titre-actu h1{
  color:black;
  font-size: 36px;
}
.img_actu{
  height:300px;
}
.img_actu h1{
  text-align: center;
  color: white;
  margin: 0;
  font-size: 22px;
  line-height: 300px;
}
article{
  margin-top: 0px;
}
article h1{
  color:black;
  text-transform: initial;
}
.divider{
  height:2px;
  background:red;
  width:30px;
  margin-top: 10px;
}
.contenu-article{
  text-align: justify;
  font-size: 16px;
  padding-left:0;
  font-weight: initial;
}
#searchAjaxInput{
  border-radius: 5px;
  outline: none;
  width: 30%;
  padding-left: 10px;
  border:1px solid #dedede;
}
#searchResult ul{
  padding-top: 15px;
  padding-left: 5px;
}
#searchResult li{
  list-style: none;
}
#searchResult li a{
  color:black;
}
#searchResult li a:hover{
  color:red !important;
  transition:all 0.2s ease-in-out;
}
/* Slider */
#slider{
  height: 100vh;
}
.slick-slide img{
  width:100% !important;
  height: 100vh;
}
.absolute-text-centered{
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
}
.slide{
  position: relative;
}
.slide__caption {
  bottom: 0;
  min-height: 200px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Gotham-medium';
}
.slide__caption p{
  text-transform: initial;
  font-size: 25px;
}
.slideimg{
  width: 100% !important;
  height: 100vh !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-arrow{
  display: none !important;
}
/* ACF */
.acf-field{
  padding-left: 0 !important;
}
.acf-form-submit input{
  background: red;
  padding:10px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 150px;
  border:none;
  color:white;
}
/* Programme */
.bojackProgramme a:hover{
  color:white !important;
}
.bojackProgramme h1{
  color:black;
  font-size: 35px;
  text-align:left;
}
.bojackProgramme p{
  font-size: 20px !important;
}
#bojackProgramme a{
  margin-top: 40px;
}
/* HOME */

.intro h1{
  color: black;
  text-align: center;
  font-size: 30px;
}
.intro p{
  text-align: center;
  padding-bottom: 50px;
  font-size: 18px;
}
.intro a{
  margin-top: 50px;
  width: 350px;
  cursor: pointer;
}
.intro a:hover{
  color: white !important;
}
.home_actu p{
  margin-top: 50px;
  color: black;
  font-size: 18px;
  padding-bottom: 50px;
}
.home_actu a{
  margin-top: 50px;
  width: 350px;
  cursor: pointer;
}
.home_actu a:hover{
  color: white !important;
}
.home_don p{
  margin-top: 50px;
  color: black;
  font-size: 18px;
  padding-bottom: 50px;
}
.home_don a{
  margin-top: 50px;
  width: 350px;
  cursor: pointer;
}
.home_don a:hover{
  color: white !important;
}
.titre-faire_don{
  margin-top: 100px;
  height: 175px;
  background-image:url('../img/don.png');
  background-size: cover;
  background-position: 25% 15%;
}
.titre-faire_don h1{
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
.titre-actu-opacite{
  margin-top: 100px;
  height: 175px;
  background-image:url('../img/opacite_group.png');
  background-size: cover;
  background-position: 25% 15%;
}
.titre-actu-opacite h1{
  text-align: center;
  line-height: 100px;
  font-size: 30px;
}
.titre-boutique-opacite{
  margin-top: 100px;
  height: 175px;
  background-image:url('../img/boutique.png');
  background-size: cover;
  background-position: 25% 15%;
}

.twitterBloc{
  background:url('../img/twitter_feed.png');
  background-size: 100%;
  margin-top: 30px;
  height:300px;
}
.instaBloc{
  margin-top: 30px;
  background:url('../img/instagram.png');
  background-size: 100%;
  background-position: center;
  height:300px;
}
.last_actu{
  margin-top: 50px;
  height:300px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.last_actu article:nth-child(3n +1){
  clear:both;
}
.last_actu article{
  margin-bottom:30px;
}
.last_actu h1{
  line-height: 300px;
  font-size: 45px;
}
.bojack_home div{
  margin-top: 20px;
}
.mov_and_actu{
  margin-top: 50px;
}
.movement, .actus{
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
}
.movement{
  background:url('../img/movement.jpg');
}
.twitter{
  height:640px;
  border:1px solid #dedede;
}
.instagram{
  background:url(../img/insta.jpg);
  height: 640px;
  border:1px solid #dedede;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.boutique{
  background: url(../img/boutique.jpg);
  background-size: contain;
  height: 300px;
  border:1px solid #dedede;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px !important;
}
.movement h1, .actus h1{
  line-height: 300px;
  text-align: center;
  font-size: 40px;
}
/* LISTE MEMBRE */
.listMembres ul{
  padding-left:0; 
  margin-top: 50px;
}
label{
  font-size: 18px !important;
}
.listMembres li{
  list-style: none;
  background:#ececec;
  display: inline-block;
  padding:15px;
}
.listMembres h2{
  color:black;
}
.devenir_membre{
  color:black;
  text-align: center;
}
.emptyMembres{
  text-align: center;
  display: block;
}
.form-membre{
  padding-left: 0;
  padding-right: 0;
}
.updated p{
  color:red;
  text-align: center;
}
/***************

    PAGENAVI

***************/
.pagination{
  display:block;
}
.wp-pagenavi{
  text-align:center;
}
.wp-pagenavi span, .wp-pagenavi span.current{
  color:#F56B2A;
  border-color:#F56B2A;
}
.wp-pagenavi a{
  background:#F56B2A;
  text-decoration:none;
  color:#FFFFFF;
  border-color:#F56B2A;
}
.wp-pagenavi a:hover{
  background:#FFFFFF;
  color:#F56B2A;
}
.logomobile{
  display: none;
}
/***************

    FOOTER

***************/
footer.footer{
  background:#181818;
  margin-top:50px;
}
.ani_glow{
  opacity: 0;
  display: none !important;
}
.timeline-Footer footer{
  display: none !important;
}

/*********************
TIMELINE
**********************/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-top: 100px;
}
.timeline img{
  width:100%;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 1200px){
  .divider{
    margin: 0 auto;
    margin-top:10px;
  } 
  #searchAjaxInput {
      width: 100% !important;
    }
}
@media (max-width: 767px) {

    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/* DONATION */
.donationbloc{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.donationbloc p{
  font-size: 18px;
}
.sc-checkout-form{
  display: inline-block;
  margin-top: 60px;
}
button.stripe-button-el{
  padding: 8px 18px;
  margin: 10px;
  height: 50px;
  line-height: 50px;
  background-image: none !important;
  background: red;
  border-radius: 25px;
  color: white !important;
}

button.stripe-button-el span{
  background: none;
  box-shadow: none;
}
button.stripe-button-el:focus{
  outline: none;
}
button.stripe-button-el:active{
  background: #444;
}
.donationbloc h1{
  color: black;
}
/* woocommerce modifs */
#content{
  margin-top: 100px;
}
.woocommerce ul.products li.product h3{
  color:red;
}
.woocommerce ul.products li.product .price{
  color:black;
  font-size: 16px;
}
.button_woo{
  background-color: red !important;
}
.woocommerce-breadcrumb{
  display:none;
}
.center{
  text-align: center;
}
.bag a{
  display: block;
  text-align: center;
}
.bag p{
  text-align: center;
}
.bag{
  width:100px;
  padding: 10px;
  border:1px solid #dedede;
  padding-bottom: 0;
}
.button_woo:hover{
  color: white !important;
}
.product_title{
  color: black;
}
#sidebar{
  display: none;
}
/* MOBILE */
@media screen and (max-width: 1200px){
  .menu_header li{
    padding:0px 5px;
  }
  .bag{ 
    margin:auto;
  }
  .menu-header-container{
    height:auto;
    line-height: 0;
  }
  .menu_header li a{
    font-size: 14px;
  }
  .responsive-navigation_menu *{
    left:0;
  }
  .responsive-navigation_nav ul{
    margin:0px !important;
  }
  .responsive-navigation_nav li{
    text-align: center;
    text-transform: uppercase;
    padding:10px;
  }
 #menu-item-93 a{
    background:white !important;
  }
  .responsive-navigation_nav li a{
    color:black !important;
  }
  #menu-item-79{
    display: none;
  }
  h1{
    text-align:center;
  }
  .last_actu h1{
    font-size: 25px;
  }
  .movement h1, .actus h1{
    font-size: 25px;
  }
  .logo {
    width: 80px;
    margin-top: 4px;
  }
  .responsive-navigation_nav a:hover{
    border-radius: 0!important;
    color:black !important;
    background:white !important;
  }
}