body,html{
  margin:0;
  font-family: 'PT Sans Narrow', sans-serif;
  height:100%;
}
p{
  font-size: 16px !important;
}
.responsiveImage img{
  max-width:100%;
  height:auto;
  margin: 0 auto;
  display: block;
}
a:hover{
  text-decoration: none !important;
}
/**************

    HEADER

***************/

header#header{

}
 .menu-header-container{
  background:white;
  height:100px;
  line-height: 100px;
}
.menu_header{
  list-style:none;
  text-align: center;
}
 .menu_header li{
  display:inline-block;
  padding:0px 20px;
  width:160px;
}

.logo{
  width:100px;
}
 .menu_header li a{
  color:#181818;
  font-size: 16px;
}
#menu-item-35 a{
  padding: 8px 24px;
  background: red;
  border-radius: 25px;
  color: white;
}
/*********************


      CONTENT


**********************/

.portraitBojack h1{
  color: black;
  font-weight: bold;
  text-align: left;
}
.portraitBojack h2{
  color: black;
}
.portraitBojack img{
  width: 100%;
}
.portraitBojack p{
  text-align: justify;
}
.image_portraitBojack{
  width: 100%;
  height: 550px;
}
.bojackParticiper h1{
  text-align: center;
  color:black;
  font-size: 32px;
}

.fadeEffect{
  background:black;
  opacity: 0.5;
}
.slick-slide img{
  width:100% !important;
  height: 100%;
}
.img_actu{
  height:300px;
}
.img_actu h1{
  text-align: center;
  color:black;
  margin:0;
  line-height: 300px;
}
article{
  margin-top: 50px;
}
article:nth-child(1n+2) .img_actu{
  float:right;
}
.slick-arrow{
  display: none !important;
}
.bojackProgramme h1{
  color:black;
  font-size: 35px;
  text-align:left;
}
.bojackProgramme p{
  font-size: 20px !important;
}
.join{
  clear: both;
  display:block;
  text-align:center;
  margin:0 auto;
  padding: 8px 24px;
  background: red;
  border-radius: 25px;
  color: white;
  width: 150px;
  font-size: 18px;
}
a:hover{
  color:inherit !important;
}
h1{
  text-transform:uppercase;
  color:white;
  font-size:24px;
  margin-top:40px;
  margin-bottom:30px;
}
h2{
  color:white;
  font-size:20px;
  margin-bottom:4px;
}
h3{
  font-size:13px;
  margin-top:0px;
  margin-bottom:20px;
}
.last_actu{
  margin-top: 50px;
  height:300px;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.last_actu article:nth-child(3n +1){
  clear:both;
}
.last_actu article{
  margin-bottom:30px;
}
.last_actu h1{
  line-height: 300px;
  font-size: 45px;
}
.bojack_home div{
  margin-top: 20px;
}
.mov_and_actu{
  margin-top: 50px;
}
.movement, .actus{
  height: 300px;
  background-size: cover !important;
  background-position: center !important;
}
.movement{
  background:url('../img/movement.jpg');
}
.actus{

}
.twitter{
  height:640px;
  background:blue;
}
.instagram{
  background:url(../img/instagram.png);
  height: 300px;
  border:1px solid #dedede;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.boutique{
  background: url(../img/boutique.jpg);
  background-size: contain;
  height: 300px;
  border:1px solid #dedede;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px !important;
}
.movement h1, .actus h1{
  line-height: 300px;
  text-align: center;
  font-size: 40px;
}
/***************

    PAGENAVI

***************/
.pagination{
  display:block;
}
.wp-pagenavi{
  text-align:center;
}
.wp-pagenavi span, .wp-pagenavi span.current{
  color:#F56B2A;
  border-color:#F56B2A;
}
.wp-pagenavi a{
  background:#F56B2A;
  text-decoration:none;
  color:#FFFFFF;
  border-color:#F56B2A;
}
.wp-pagenavi a:hover{
  background:#FFFFFF;
  color:#F56B2A;
}
/***************

    FOOTER

***************/
footer#footer{
  height:100px;
  background:#181818;
  margin-top:50px;
}
.ani_glow{
  opacity: 0;
  display: none !important;
}
@media screen and (max-width: 549px){
  .menu_header li{
    padding:5px 10px;
  }
  .menu_header li a{
    font-size: 14px;
  }
  h1{
    text-align:center;
  }
  .last_actu h1{
    font-size: 25px;
  }
  .movement h1, .actus h1{
    font-size: 25px;
  }
}
